<div class="container" style="padding-top: 100px;">
	<div class="jumbotron">
	  <center> <h1>Oops!!</h1>
	  <p> The page you are looking for is not found. You might have typed the url incorrectly. </p>
	  <p><a class="btn btn-primary btn-lg" href="<%= root_path %>" role="button"> Home </a>
	  <a class="btn btn-primary btn-lg" href="<%= login_path %>" role="button"> Login </a>
	  <a class="btn btn-primary btn-lg" href="<%= signup_path %>" role="button"> Signup </a></p>
	  </center>
	</div>
</div>