/* custom template */
html, body {
   height: 100%;
   background-color:#e9eaed;
}



.glyphicon{
  padding-right: .2em;
}

.classWithPad { margin:10px; padding:10px; }

.postp{
  font-size: 16px;
  line-height: 1.5;
}

.del,.del:hover{
	color:red;
}

.navbar-nav > li{
	font-size: 14px;
}

.posttext,.comment{
	white-space: pre-wrap;
}

@media (min-width: 768px){
  #left {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    /*width: 75%;*/
    overflow-y: scroll; 
  }
  
  #right {
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
/*    width: 25%;*/
  }
}