<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi <strong> <%= @friend.name %> </strong> </p>
    <p>
      <%= @friend.birthday_message %>
      <br><br><br>
      Regards <br>
      <%= @friend.user.name %>
    </p>
  </body>
</html>
